<template>
    <div>
        <h1>New Product Category</h1><br>

        <div class="col-md-6 centered">
            <label for="name">Name:</label>
            <input
                id="name"
                name="name"
                class="form-control"
                v-model="name"
                v-validate="{ required: true }"
            >
            <span class="error-message">{{ errors.first('name') }}</span>
        </div><br>

        <div class="col-md-6 centered text-right">
            <button class="btn btn-primary" @click="create()">Create</button>
        </div><br>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            name: '',
        };
    },
    methods: {
        create() {
            this.$validator.validateAll().then(() => {
                if (this.$validator.errors.items.length > 0) {
                    this.$store.default.dispatch('setAlert', { message: 'Not all forms are filled.', type: 'error' });
                    return;
                }

                axios.post('create-category', {
                    name: this.name,
                }).then(response => {
                    if (response.data.success) {
                        this.$router.push({ name: 'ProductCategories' });
                    }
                }).catch(error => {});
            });
        },
    },
};
</script>