<template>
    <div>
        <h1>Product Category List</h1><br>
        <h2 v-show="categories === undefined" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Loading, please wait...
        </h2>

        <div class="text-right">
            <button class="btn btn-primary" @click="redirect()">Create new category</button>
        </div><br>

        <table v-show="categories !== undefined" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" v-model="filterName"></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category, index) in categories">
                    <td>{{ index + 1 }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <button class="btn btn-info"
                            title="Edit this category"
                            @click="editCategory(category.id)"
                        ><i class="far fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                            title="Remove this category"
                            @click="removeCategory(category.id, category.name)"
                        ><i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <remove-category-modal
            :category_id="selectedCategoryId"
            :category_name="selectedCategoryName"
            :visible="modalVisible"
            @hideModal="modalVisible = false"
            @updateCategories="updateCategories()"
        >
        </remove-category-modal>
    </div>
</template>

<script>
import axios from 'axios';
import RemoveCategoryModal from './_RemoveCategoryModal';

export default {
    data() {
        return {
            categories: undefined,
            baseCategories: undefined,
            filterName: '',
            selectedCategoryId: undefined,
            selectedCategoryName: undefined,
            modalVisible: false,
        };
    },
    watch: {
        filterName() {
            this.categories = this.baseCategories;
            let filterName = this.filterName;

            if (filterName !== '') {
                this.categories = this.categories.filter(function(item) {
                    return item.name.toLowerCase().indexOf(filterName.toLowerCase()) !== -1;
                });
            }
        },
    },
    created() {
        axios.get('get-categories').then(response => {
            this.categories = this.baseCategories = response.data.categories;
        }).catch(error => {});
    },
    methods: {
        redirect() {
            this.$router.push({ name: 'CreateProductCategory' });
        },
        editCategory(categoryId) {
            this.$router.push({ name: 'UpdateProductCategory', params: { id: categoryId }});
        },
        removeCategory(categoryId, categoryName) {
            this.selectedCategoryId = categoryId;
            this.selectedCategoryName = categoryName;
            this.modalVisible = true;
            this.updateCategories();
        },
        updateCategories() {
            axios.get('get-categories').then(response => {
                this.categories = this.baseCategories = response.data.categories;
            }).catch(error => {});
        },
        addCategory(categoryId) {
            axios.post('add-category', { id: categoryId }).then(response => {}).catch(error => {});
        },
    },
    components: {
        RemoveCategoryModal: RemoveCategoryModal,
    },
};
</script>