<template>
    <div>
        <h1>Update Product Category</h1><br>
        <h1 v-if="!loaded" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Loading, please wait...
        </h1>

        <div v-if="loaded">
            <div class="col-md-6 centered">
                <label for="name">Name:</label>
                <input
                    id="name"
                    name="name"
                    class="form-control"
                    v-model="name"
                    v-validate="{ required: true }"
                >
                <span class="error-message">{{ errors.first('name') }}</span>
            </div><br>

            <div class="col-md-6 centered text-right">
                <button class="btn btn-primary" @click="update()">Update</button>
            </div><br>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            name: '',
            loaded: false,
        };
    },
    created() {
        axios.get('get-category', { params: { id: this.$route.params.id }}).then(response => {
            if (!response.data.success) {
                this.$router.push({ name: 'ProductCategories' });
                return;
            }

            this.name = response.data.category.name;
            this.loaded = true;
        }).catch(error => {});
    },
    methods: {
        update() {
            this.$validator.validateAll().then(() => {
                if (this.$validator.errors.items.length > 0) {
                    this.$store.default.dispatch('setAlert', { message: 'Not all forms are filled.', type: 'error' });
                    return;
                }
                
                axios.post('update-category', {
                    id: this.$route.params.id,
                    name: this.name,
                }).then(response => {
                    if (response.data.success) {
                        this.$router.push({ name: 'ProductCategories' });
                    }
                }).catch(error => {});
            });
        },
    },
};
</script>