<template>
    <header id="header">
        <div class="inner">
            <router-link tag="a" class="logo" :to="{ name: 'Home' }">Market</router-link>
            <nav v-if="accessToken">
                <router-link tag="a" :to="{ name: 'Home' }">Home</router-link>
                <router-link tag="a" :to="{ name: 'Users' }" :class="{ 'active' : urlContains('user') }">Users</router-link>
                <router-link tag="a" :to="{ name: 'ProductCategories' }" :class="{ 'active' : urlContains('category') }">Product Categories</router-link>
                <router-link tag="a" :to="{ name: 'Products' }" :class="{ 'active' : urlContains('product') }">Products</router-link>
                <a href="javascript:void(0)" @click="logout()">Logout</a>
            </nav>
        </div>
    </header>
</template>

<script>
import { removeToken } from '../../helpers/functions';

export default {
    computed: {
        accessToken() {
            return this.$store.default.getters.accessToken;
        },
    },
    methods: {
        logout() {
            removeToken();
            this.$store.default.dispatch('setAccessToken', null);
            this.$router.push({ name: 'Login' });
        },
        urlContains(name) {
            if (name === 'product') { // Specific case since both "product" and "product-category" have word "product"
                return this.$route.path.indexOf(name) !== -1 && this.$route.path.indexOf('product-') === -1;
            }

            return this.$route.path.indexOf(name) !== -1;
        },
    },
};
</script>