<template>
    <div class="text-center from-top">
        <h1><i class="fas fa-home fa-3x"></i></h1><br>
        <h2 v-show="name !== ''">{{ name }}</h2>
        <h2><i>Welcome to Market System! Please select action from menu.</i></h2>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            name: '',
        };
    },
    created() {
        axios.get('get-owner').then(response => {
            this.name = response.data.name;
        }).catch(error => {});
    },
};
</script>