<template>
    <div class="parent-modal-base">
        <transition name="fade" mode="out-in">
            <div class="modal-base alert" :class="status.type" v-show="status.visible">
                <span v-html="status.message"></span>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    computed: {
        status() {
            return this.$store.default.getters.alert;
        },
    },
};
</script>

<style scoped>
.fade-enter-active {
    animation: fade-in 250ms ease-out forwards;
}

.fade-leave-active {
    animation: fade-out 250ms ease-out forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
</style>