    <template>
    <div class="alert alert-danger text-center fixed-height">
        <p>Page not found.</p>
        <p><router-link tag="a" :to="{ name: 'Home'}">Go to Home</router-link></p>
    </div>
</template>