<template>
    <div class="centered">
        <h1 class="centered text-center">Login</h1>
        <div class="col-md-6 centered from-top">
            <label for="email">Email:</label>
            <input id="email"
                name="email"
                class="form-control"
                v-model="email"
                v-validate="{ required: true, email: true }"
            >
            <span class="error-message">{{ errors.first('email') }}</span>
        </div><br>

        <div class="col-md-6 centered">
            <label for="password">Password:</label>
            <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                v-model="password"
                v-validate="{ required: true, min: 3, max: 100 }"
            >
            <span class="error-message">{{ errors.first('password') }}</span>
        </div><br>

        <div class="col-md-6 centered text-right">
            <button class="btn float-left" @click="redirect()">Create new account</button>
            <button class="btn btn-primary" @click="login()">Login</button>
        </div>
        
        <p v-show="isClicked" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Attempting to log in...
        </p>
    </div>
</template>

<script>
import axios from 'axios';
import { setToken } from '../../helpers/functions';

export default {
    data() {
        return {
            email: '',
            password: '',
            isClicked: false,
        };
    },
    methods: {
        login() {
            this.$validator.validateAll().then(() => {
                if (this.$validator.errors.items.length > 0) {
                    this.$store.default.dispatch('setAlert', { message: 'Not all forms are filled.', type: 'error' });
                    return;
                }
                
                this.isClicked = true;
    
                axios.post('login', {
                    email: this.email,
                    password: this.password,
                }).then(response => {
                    this.isClicked = false;
                    let data = response.data;
    
                    if (data.success) {
                        this.$store.default.dispatch('setAccessToken', data.token);
                        setToken(data.token);
                        this.$router.push({ name: 'Home' });
                    }
                }).catch(error => {});
            });
        },
        redirect() {
            this.$router.push({ name: 'Register' });
        },
    },
};
</script>