<template>
    <div class="centered">
        <h1 class="centered text-center">Registration</h1>
        <div class="col-md-6 centered from-top">
            <label for="name">Name:</label>
            <input id="name"
                name="name"
                class="form-control"
                v-model="name"
                v-validate="{ required: true }"
            >
            <span class="error-message">{{ errors.first('name') }}</span>
        </div><br>

        <div class="col-md-6 centered">
            <label for="email">Email:</label>
            <input id="email"
                name="email"
                class="form-control"
                v-model="email"
                v-validate="{ required: true, email: true }"
            >
            <span class="error-message">{{ errors.first('email') }}</span>
        </div><br>

        <div class="col-md-6 centered">
            <label for="password">Password:</label>
            <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                v-model="password"
                v-validate="{ required: true, min: 3, max: 100 }"
            >
            <span class="error-message">{{ errors.first('password') }}</span>
        </div><br>

        <div class="col-md-6 centered">
            <label for="repeat_password">Repeat password:</label>
            <input
                type="password"
                id="repeat_password"
                name="repeat_password"
                class="form-control"
                v-model="repeat_password"
                v-validate="{ required: true, min: 3, max: 100, confirmed: password }"
            >
            <span class="error-message">{{ errors.first('repeat_password') }}</span>
        </div><br>

        <div class="col-md-6 centered text-right">
            <button class="btn float-left" @click="redirect()">Login instead</button>
            <button class="btn btn-primary" @click="register()">Register</button>
        </div>

        <p v-show="isClicked" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Registering, please wait...
        </p>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            name: '',
            email: '',
            password: '',
            repeat_password: '',
            isClicked: false,
        };
    },
    created() {
        this.$validator.dictionary.merge({
            repeat_password: {
                confirmed: 'Repeated password field does not match password field.',
            },
        });
    },
    methods: {
        register() {
            this.$validator.validateAll().then(() => {
                if (this.$validator.errors.items.length > 0) {
                    this.$store.default.dispatch('setAlert', { message: 'Not all forms are filled.', type: 'error' });
                    return;
                }

                this.isClicked = true;

                axios.post('register', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                }).then(response => {
                    this.isClicked = false;

                    if (response.data.success) {
                        this.$router.push({ name: 'Home' });
                    }
                }).catch(error => {});
            });
        },
        redirect() {
            this.$router.push({ name: 'Login' });
        },
    },
};
</script>