<template>
    <div>
        <h1>User List</h1><br>
        <h2 v-show="users === undefined" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Loading, please wait...
        </h2>

        <table v-show="users !== undefined" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date created</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" v-model="filterName"></th>
                    <th><input class="form-control" v-model="filterEmail"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in users">
                    <td>{{ index + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td><button class="btn btn-info" @click="viewUser(user.id)"><i class="far fa-eye"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            users: undefined,
            baseUsers: undefined,
            filterName: '',
            filterEmail: '',
        };
    },
    watch: {
        filterName() {
            this.filter();
        },
        filterEmail() {
            this.filter();
        },
    },
    created() {
        axios.get('get-users').then(response => {
            this.users = this.baseUsers = response.data.users;
        }).catch(error => {});
    },
    methods: {
        filter() {
            this.users = this.baseUsers;
            let filterName = this.filterName;
            let filterEmail = this.filterEmail;

            if (filterName !== '') {
                this.users = this.users.filter(function(item) {
                    return item.name.toLowerCase().indexOf(filterName.toLowerCase()) !== -1;
                });
            }
            
            if (filterEmail !== '') {
                this.users = this.users.filter(function(item) {
                    return item.email.toLowerCase().indexOf(filterEmail.toLowerCase()) !== -1;
                });
            }
        },
        viewUser(userId) {
            this.$router.push({ name: 'ViewUser', params: { id: userId }});
        },
    },
};
</script>