<template>
    <div>
        <p v-show="user === undefined">
            <i class="fas fa-asterisk fa-spin"></i> Loading data...
        </p>

        <h2>User details</h2><br>

        <table v-if="user !== undefined">
            <tr>
                <td rowspan="3"><i class="fas fa-user fa-6x"></i></td>
                <td class="single-padding"><i class="fas fa-id-card"></i> {{ user.name }}</td>
            </tr>
            <tr>
                <td class="single-padding"><i class="fas fa-envelope"></i> {{ user.email }}</td>
            </tr>
            <tr>
                <td class="single-padding"><i class="fas fa-user-clock"></i> {{ user.created_at }}</td>
            </tr>
        </table>

        <br><br><h2>Created Product Categories</h2><br>

        <p v-show="user === undefined">
            <i class="fas fa-asterisk fa-spin"></i> Loading data...
        </p>

        <p v-if="user !== undefined && categories === undefined">User has not created any product categories yet.</p>

        <table class="table table-hover" v-if="user !== undefined && categories !== undefined">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Datetime added</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category, index) in categories">
                    <td>{{ index + 1 }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.created_at }}</td>
                </tr>
            </tbody>
        </table>

        <br><br><h2>Created Products</h2><br>

        <p v-show="user === undefined">
            <i class="fas fa-asterisk fa-spin"></i> Loading data...
        </p>

        <p v-if="user !== undefined && products === undefined">User has not created any products yet.</p>

        <table class="table table-hover" v-if="user !== undefined && products !== undefined">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Datetime added</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, index) in products">
                    <td>{{ index + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.created_at }}</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" @click="goToList()">Go to User list</button>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            user: undefined,
            categories: undefined,
            products: undefined,
        };
    },
    created() {
        axios.get('get-user', { params: { id: this.$route.params.id }}).then(response => {
            let data = response.data;

            if (!data.success) {
                this.$router.push({ name: 'Users' });
                return;
            }

            this.user = data.content.user;
            this.categories = data.content.categories;
            this.products = data.content.products;
        }).catch(error => {});
    },
    methods: {
        goToList() {
            this.$router.push({ name: 'Users' });
        },
    },
};
</script>