<template>
    <div id="app">
        <header-element></header-element>

        <transition name="fade" mode="out-in">
            <router-view class="container from-menu"></router-view>
        </transition>

        <footer-element></footer-element>
        <modal-element></modal-element>
    </div>
</template>

<script>
import HeaderElement from './components/global/Header';
import FooterElement from './components/global/Footer';
import ModalElement from './components/global/Modal';
import { getToken } from './helpers/functions';

export default {
    created() {
        this.$store.default.dispatch('setAccessToken', getToken());

        //axios to get user
    },
    components: {
        HeaderElement: HeaderElement,
        FooterElement: FooterElement,
        ModalElement: ModalElement,
    },
};
</script>

<style lang="scss">
@import './assets/scss/style.scss';
@import './assets/bootstrap-4.1.1/css/bootstrap.min.css';
@import './assets/fontawesome-5.1.0/css/all.css';

.fade-enter-active {
    animation: fade-in 250ms ease-out forwards;
}

.fade-leave-active {
    animation: fade-out 250ms ease-out forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
</style>