<template>
    <transition name="fade" mode="out-in">
        <div v-show="visible">
            <div class="modified-modal-background" tabindex="-1" @click="hideModal()"></div>
            <div class="modified-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this product?:<br><br><b>{{ product_name }}</b></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" @click="deleteProduct()" :disabled="isClicked">Delete</button>
                            <button type="button" class="btn btn-secondary" @click="hideModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import axios from 'axios';

export default {
    props: ['product_id', 'product_name', 'visible'],
    data() {
        return {
            isClicked: false,
        };
    },
    methods: {
        hideModal() {
            this.$emit('hideModal');
        },
        deleteProduct() {
            axios.post('delete-product', { id: this.product_id }).then(response => {
                if (response.data.success) {
                    this.$emit('updateProducts');
                    this.$emit('hideModal');
                }
            }).catch(error => {});
        },
    },
};
</script>

<style scoped>
.fade-enter-active {
    animation: fade-in 250ms ease-out forwards;
}

.fade-leave-active {
    animation: fade-out 250ms ease-out forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
</style>