<template>
    <div>
        <h1>Product List</h1><br>
        <h2 v-show="products === undefined" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Loading, please wait...
        </h2>

        <div class="text-right">
            <button class="btn btn-primary" @click="redirect()">Create new product</button>
        </div><br>

        <table v-show="products !== undefined" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product name</th>
                    <th>Product description</th>
                    <th>Product price</th>
                    <th>Created by</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" v-model="filterName"></th>
                    <th><input class="form-control" v-model="filterDescription"></th>
                    <th><input class="form-control" v-model="filterPrice"></th>
                    <th><input class="form-control" v-model="filterUser"></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, index) in products">
                    <td>{{ index + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.user }}</td>
                    <td>
                        <button class="btn btn-info"
                            title="Edit this product"
                            @click="editProduct(product.id)"
                        ><i class="far fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                            title="Remove this product"
                            @click="removeProduct(product.id, product.name)"
                        ><i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <remove-product-modal
            :product_id="selectedProductId"
            :product_name="selectedProductName"
            :visible="modalVisible"
            @hideModal="modalVisible = false"
            @updateProducts="updateProducts()"
        ></remove-product-modal>
    </div>
</template>

<script>
import axios from 'axios';
import RemoveProductModal from './_RemoveProductModal';

export default {
    data() {
        return {
            products: undefined,
            baseProducts: undefined,
            filterName: '',
            filterDescription: '',
            filterPrice: '',
            filterUser: '',
            selectedProductId: undefined,
            selectedProductName: undefined,
            modalVisible: false,
        };
    },
    watch: {
        filterName() {
            this.filter();
        },
        filterDescription() {
            this.filter();
        },
        filterPrice() {
            this.filter();
        },
        filterUser() {
            this.filter();
        },
    },
    created() {
        axios.get('get-products').then(response => {
            this.products = this.baseProducts = response.data.products;
        }).catch(error => {});
    },
    methods: {
        redirect() {
            this.$router.push({ name: 'CreateProduct' });
        },
        filter() {
            this.products = this.baseProducts;
            let filterName = this.filterName;
            let filterDescription = this.filterDescription;
            let filterPrice = this.filterPrice;
            let filterUser = this.filterUser;

            if (filterName !== '') {
                this.products = this.products.filter(function(item) {
                    return item.name.toLowerCase().indexOf(filterName.toLowerCase()) !== -1;
                });
            }

            if (filterDescription !== '') {
                this.products = this.products.filter(function(item) {
                    return item.description.toLowerCase().indexOf(filterDescription.toLowerCase()) !== -1;
                });
            }

            if (filterPrice !== '') {
                this.products = this.products.filter(function(item) {
                    return item.price == filterPrice;
                });
            }

            if (filterUser !== '') {
                this.products = this.products.filter(function(item) {
                    return item.user.toLowerCase().indexOf(filterUser.toLowerCase()) !== -1;
                });
            }
        },
        editProduct(productId) {
            this.$router.push({ name: 'UpdateProduct', params: { id: productId }});
        },
        removeProduct(productId, productName) {
            this.selectedProductId = productId;
            this.selectedProductName = productName;
            this.modalVisible = true;
            this.updateProducts();
        },
        updateProducts() {
            axios.get('get-products').then(response => {
                this.products = this.baseProducts = response.data.products;
            }).catch(error => {});
        },
    },
    components: {
        RemoveProductModal: RemoveProductModal,
    },
};
</script>