<template>
    <div>
        <h1>Update Product</h1><br>
        <h1 v-if="!loaded" class="text-center">
            <i class="fas fa-asterisk fa-spin"></i><br> Loading, please wait...
        </h1>

        <div v-if="loaded">
            <div class="col-md-6 centered">
                <label for="category">Category:</label>
                <p v-if="!categories.length" class="text-center">
                    <i class="fas fa-asterisk fa-spin"></i> Loading, please wait...
                </p>
                <select
                    v-if="categories.length"
                    id="category"
                    name="category"
                    class="form-control"
                    v-model="selectedCategory"
                    v-validate="{ required: true }"
                >
                    <option value="" disabled selected>Select a category...</option>
                    <option v-for="(category, index) in categories" :value="category.id">{{ category.name }}</option>
                </select>
                <span class="error-message">{{ errors.first('category') }}</span>
            </div><br>

            <div class="col-md-6 centered">
                <label for="name">Name:</label>
                <input
                    id="name"
                    name="name"
                    class="form-control"
                    v-model="name"
                    v-validate="{ required: true }"
                >
                <span class="error-message">{{ errors.first('name') }}</span>
            </div><br>

            <div class="col-md-6 centered">
                <label for="description">Description:</label>
                <textarea
                    id="description"
                    name="description"
                    class="form-control"
                    v-model="description"
                    v-validate="{ required: true }"
                ></textarea>
                <span class="error-message">{{ errors.first('description') }}</span>
            </div><br>

            <div class="col-md-6 centered">
                <label for="price">Price:</label>
                <input
                    id="price"
                    name="price"
                    class="form-control"
                    v-model="price"
                    v-validate="{ required: true, decimal: true }"
                >
                <span class="error-message">{{ errors.first('price') }}</span>
            </div><br>

            <div class="col-md-6 centered text-right">
                <button class="btn btn-primary" @click="update()">Update</button>
            </div><br>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            selectedCategory: '',
            categories: [],
            name: '',
            description: '',
            price: '',
            loaded: false,
        };
    },
    created() {
        axios.get('categories').then(response => {
            this.categories = response.data.categories;
        }).catch(error => {});

        axios.get('get-product', { params: { id: this.$route.params.id }}).then(response => {
            if (!response.data.success) {
                this.$router.push({ name: 'Products' });
                return;
            }

            let product = response.data.product;
            this.name = product.name;
            this.selectedCategory = product.category_id;
            this.description = product.description;
            this.price = product.price;
            this.loaded = true;
        }).catch(error => {});
    },
    methods: {
        update() {
            this.$validator.validateAll().then(() => {
                if (this.$validator.errors.items.length > 0) {
                    this.$store.default.dispatch('setAlert', { message: 'Not all forms are filled.', type: 'error' });
                    return;
                }
                
                axios.post('update-product', {
                    id: this.$route.params.id,
                    category_id: this.selectedCategory,
                    user_id: 70,
                    name: this.name,
                    description: this.description,
                    price: this.price,
                }).then(response => {
                    if (response.data.success) {
                        this.$router.push({ name: 'Products' });
                    }
                }).catch(error => {});
            });
        },
    },
};
</script>