body {
    background-color: #fffffa;
}

/**
    HEADER
 */
#header {
    background: #1c1c1c;
    height: 5em;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10;
}

#header .inner {
    max-width: 65em;
    margin: 0 auto;
    position: relative;
}

#header .logo {
    font-family: 'Pacifico', cursive;
    left: 0;
    padding: 0;
    position: absolute;
    color: rgb(255, 255, 0);
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
}

#header .logo:hover {
    color: rgb(205, 205, 0);
}

#header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 2em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85em;
    outline: none;

    &:not(.logo):hover {
        background-color: lightseagreen;
    }

    &.router-link-exact-active, &.active {
        color: yellow;
    }
}

/**
    FOOTER
 */
.footer {
    padding: 1em;
    margin-top: 1em;
    background-color: #efefef;
    text-align: center;
    min-height: 80%;
}

/**
    CUSTOM
 */
.from-menu {
    margin-top: 6em !important;
    min-height: 500px;
}

.from-top {
    padding-top: 2em !important;
}

.centered {
    margin: 0 auto;
}

.error-message {
    color: #8b0000;
}

.parent-modal-base {
    position: fixed;
    top: 4em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11;
}

.modal-base {
    display: inline-block;
    padding: 1em;
    min-width: 400px;

    &.error {
        background-color: rgba(255, 0, 0, 0.7);
        color: rgb(255, 255, 255);
    }

    &.success {
        background-color: rgba(0, 255, 0, 0.4);
    }
}

.fixed-height {
    min-height: auto;
}

.single-padding {
    padding: 0.5em 1em 0 1em;
}

/**
    MODAL
 */

.modified-modal {
    position: fixed;
    top: 4em;
    text-align: center;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 11;
}

.modified-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 8;
}